:root {
  --primary-color: #003366;
  --color-head-table: #eaf0f7;
  --color-pal-table: #84929e
}

.table-head {
  background-color: #003366;
  color: white;
}


h1 {
  color: var(--primary-color);
  font-weight: bold;
  margin: 0;
  padding: 0 !important;

}


h3 {
  color: var(--primary-color);
  font-weight: bold;
  margin: 0;
  padding: 0;

}

p {
  color: #6a6a6a;
}

h2 {
  color: #6a6a6a;
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.textTable {
  color: #333131;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.priceCar {
  font-size: 16px;
  font-weight: bold;
}